.card img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height:250px;
    transition: 1s ease;
}
.card img:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s ease;
}