.card {
    overflow: hidden;
}
.card img {
    display: block;
    min-height: 200px;
    padding-right: 0px
    padding-left: 0px
    background-color: #000
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out
}
.card:hover img {
    opacity: .7;
    transform: scale(1.1) rotate(2deg)
}

